@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ColaBiu Banking</h1>
    <p>This is an imaginary bank named after my cat, but it was definitely good MVC practice!</p>
</div>
